
.outerContainer {
    height: 640px;
    width: 640px;
    border: 10px solid black;
    position: relative;
}

.innerGrid {
    height: 520px;
    width: 520px;
    border: 10px solid black;
    position: absolute;
    top: 50px;
    left: 50px;
}