
.outerContainer {
    height: 600px;
    width: 600px;
    position: relative;
    background-color: black;
}

.innerGrid {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: white;
    overflow: hidden;
}