
.outerContainer {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.playerImage {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    transform: scale(2.5);
    animation: walkRight 0.5s steps(2) infinite;
}

.playerWalkingRight {
    animation: walkRight 0.5s steps(4) infinite;
}

@keyframes walkRight {
    0% {
        transform: translate3d(0, 0, 0) scale(2.5);
    }
    100% {
        transform: translate3d(-20%, 0, 0) scale(2.5);
    }
}