
.outerContainer {
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 2rem;
}

.treasuresPickedUpDiv {
    font-size: 1.2rem;
}

.lowerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 150px;
    font-size: 1rem;
}